In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Khongsai123#'
)

cursor = conn.cursor()

<h2>1. Create a Database</h2>

In [4]:
cursor.execute("create database if not exists `new_db`;")

In [5]:
cursor.execute("USE new_db")

In [6]:
cursor.execute("SHOW DATABASES")
for x in cursor.fetchall():
    print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('new_db',)
('performance_schema',)
('sys',)

In [7]:
cursor.execute("SHOW TABLES")
print(cursor.fetchall())

[]

In [8]:
table_name = "celebrities"

In [9]:
try:
    cursor.execute(f"drop table if exists {table_name};")
except Exception as e:
    print("There is no table name ",table_name)
else:
    conn.commit()
    print(f"{table_name} has been removed successfully!")

celebrities has been removed successfully!

<h2>2. Create a Table Inside The Database</h2>

In [10]:
cursor.execute("SHOW TABLES")

desc = cursor.fetchall()
print(desc)
for x in desc:
    print(x[0])

[]

In [11]:
cursor.execute("""CREATE TABLE celebrities (
PersonID int PRIMARY KEY,
FirstName varchar(255),
LastName varchar(255),
Nationality varchar(100),
Dob varchar(200),
Age int,
Popularity varchar(255),
Status varchar(10)
);""")

In [12]:
cursor.execute("SHOW TABLES")

desc = cursor.fetchall()
print(desc)
for x in desc:
    print(x[0])

[('celebrities',)]
celebrities

In [13]:
cursor.close()
conn.close()