In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Khongsai123#'
)

cursor = conn.cursor()

<h2>1. Create a Database</h2>

In [2]:
cursor.execute("create database if not exists `new_db`;")

In [3]:
cursor.execute("USE new_db")

In [4]:
cursor.execute("SHOW DATABASES")
for x in cursor.fetchall():
    print(x)

('information_schema',)
('mysql',)
('new_db',)
('performance_schema',)
('sys',)

In [5]:
cursor.execute("SHOW TABLES")
print(cursor.fetchall())

[]

In [6]:
table_name = "celebrities"

<h2>2. Create a Table Inside The Database</h2>

In [10]:
try:
    cursor.execute(f"drop table if exists {table_name};")
except Exception as e:
    print("something is worng while dropping ",table_name)
else:
    cursor.execute("""CREATE TABLE celebrities (
    PersonID int PRIMARY KEY,
    FirstName varchar(255),
    LastName varchar(255),
    Nationality varchar(100),
    Dob varchar(200),
    Age int,
    Popularity varchar(255),
    Status varchar(10)
    );""")
    print(f"{table_name} has been created successfully!")

celebrities has been created successfully!

In [11]:
cursor.execute("SHOW TABLES")

desc = cursor.fetchall()
print(desc)
for x in desc:
    print(x[0])

[('celebrities',)]
celebrities

In [14]:
cursor.execute(f"DESCRIBE {table_name}")
for column_name in cursor.fetchall():
    print(column_name[0],end=", ")

PersonID, FirstName, LastName, Nationality, Dob, Age, Popularity, Status,

In [15]:
cursor.close()
conn.close()