<h2 style='color:blue' align='center' >Delete Drop in Python MySQL</h2>

In [1]:
import mysql.connector

conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Khongsai123#'
)

cursor = conn.cursor(buffered=True)

**Create Database And Use It.**

In [2]:
database_name = 'new_db1'
try: 
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
except Exception as e:
    print(e)
else:
    print(f"{database_name} DATABASE is CREATED successfully!..")

new_db1 DATABASE is CREATED successfully!..

In [3]:
cursor.execute(f"USE {database_name}")
print(f"{database_name} is used successfully!..")

new_db1 is used successfully!..

**To make sure a we are working on an existing table first make sure to drop the table if exist and create it from fresh and use it.**

In [4]:
table_name = 'students'

try:
    cursor.execute(f"DROP TABLE IF EXISTS {table_name};")
except Exception as e:
    print(e)
else:
    cursor.execute(f"""CREATE TABLE {table_name}(
    id int primary key not null,
    fname varchar(255) not null,
    lname varchar(255) null,
    class varchar(255),
    stream varchar(255));
    """)
    print(f"{table_name} TABLE is CREATED successfully..")

students TABLE is CREATED successfully..

**Insert multiple Values into new table we just created**

In [5]:
cursor.executemany(f"""INSERT INTO {table_name}(id, fname, lname, class, stream)
                    VALUES (%s, %s, %s, %s, %s);""",
                   [(1, "Jeremy", "Smith", 5, "Science"),
                    (2, "John", "Jeffery", 8, "Science"),
                    (3, "Cathrine", None , 8, "Arts")])
conn.commit()

**Print The Contents of The Table**

In [6]:
cursor.execute(f"SELECT * FROM {table_name};")
for row in cursor.fetchall():
    print(row)

(1, 'Jeremy', 'Smith', '5', 'Science')
(2, 'John', 'Jeffery', '8', 'Science')
(3, 'Cathrine', None, '8', 'Arts')

<h3>1. DELETE/TRUNCATE TABLE: </h3>

**Both removes data from the Table and keep the strucutre of the table intact ie all the column names will still exist.**

**Their difference is:**
```
1. DELETE will removes data with or without condition While TRUNCATE will remove the whole data without condition.
2. DELETE is slower than TRUNCATE
```

**Try delete and Truncate operation**

In [10]:
print("NOTE:\nDo not give numerical input. only choose between DELETE/TRUNCATE.\nNo case sensitive.\n\n")
try:
    while True:
        option = input("SELECT OPTION:\n1.DELETE\n2.TRUNCATE\n")
        if option.upper()=="DELETE":
            print("going inside delete")
            cursor.execute(f"""{option} FROM {table_name}
                                WHERE id=2;""")
        elif option.upper()=='TRUNCATE':
            print("going inside truncate")
            cursor.execute(f"""{option} {table_name};""")
        
        else:
            rint("You have enter the wrong value\nDo you want to try again(y/n): ")
            n = input()
            if n.lower()=='n':
                continue
        break
except Exception as e:
    print(e)
else:
    conn.commit()
    print(f"{option} operation successfull!...")

NOTE:
Do not give numerical input. only choose between DELETE/TRUNCATE.
No case sensitive.

SELECT OPTION:
1.DELETE
2.TRUNCATE
 delete

going inside delete
delete operation successfull!...

**Print the remaining rows after one row is deleted.**

In [11]:
cursor.execute(f"""SELECT * FROM {table_name}""")
for row in cursor.fetchall():
    print(row)

**Checks whether the table is present or not by printing its column name. If it is present it will return column name.**

In [12]:
try:
    cursor.execute(f"""DESCRIBE {table_name};""")
except Exception as e:
    print(e)
else:
    for col in cursor.fetchall():
        print(col[0],end=", ")

id, fname, lname, class, stream,

<h3>2. DROP TABLE: </h3>

**It will delete the Table itself and everything in it but not the schema of the table.**

In [13]:
try:
    cursor.execute(f"""DROP TABLE  {table_name};""")
except Exception as e:
    print(e)
else:
    conn.commit()
    print(f"{table_name} TABLE is successfully dropped")

students TABLE is successfully dropped

**Checks whether the table is present or not by printing its column name. If it is present it will return column name else it will not return any column name**

In [14]:
try:
    cursor.execute(f"""DESCRIBE {table_name};""")
except Exception as e:
    print(e)
else:
    for col in cursor.fetchall():
        print(col[0],end=", ")

1146 (42S02): Table 'new_db1.students' doesn't exist

In [15]:
cursor.close()
conn.close()