<h2 style='color:blue' align='center'>Python and MySql Connection</h2>

<h3>1. Importing MySql Connector:</h3>

In [56]:
import mysql.connector

<h3>2. Connect to Mysql using MySql details:</h3>

In [57]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Khongsai123#',
    database = 'new_db'
)

cursor = conn.cursor()

<h3>3. Building a Cursor to Execute Queries:</h3>

In [58]:
cursor.execute("SHOW TABLES;")
data = cursor.fetchall()
print(data)

[('celebrities',)]

In [59]:
table_name = "celebrities"

In [60]:
try:
    cursor.execute(f"delete from {table_name};")
except Exception as e:
    print("there is not table name ",table_name)
else:
    conn.commit()
    print(f"{table_name} data has been removed successfully!")

celebrities data has been removed successfully!

<h3>Show Table Column Name</h3>

In [61]:
cursor.execute("DESCRIBE celebrities")
for x in cursor.fetchall():
    print(x[0],end=", ")

PersonID, FirstName, LastName, Nationality, Dob, Age, Popularity, Status,

<h3>Insert Single Row:</h3>

In [62]:
cursor.execute("""INSERT INTO celebrities(PersonID, FirstName, LastName, Nationality, Dob, Age, Popularity, Status)
               VALUES (%s, %s, %s, %s, %s, %s, %s, %s);""", (1, "Bjarne", "Stroupstrup", "Denmark", "30th Dec 1959", 73, "C++", "Late"))

conn.commit()

In [63]:
# print the content of the table students
cursor.execute(f"SELECT * FROM celebrities")
data1 = cursor.fetchall()
for row in data1:
    print(row)

(1, 'Bjarne', 'Stroupstrup', 'Denmark', '30th Dec 1959', 73, 'C++', 'Late')

<h3>Insert Multiple Rows:</h3>

In [64]:
cursor.executemany("""INSERT INTO celebrities(PersonID, FirstName, LastName, Nationality, Dob, Age, Popularity, Status)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s)""", 
                   [(2,"James", "Gostling","Canada", "19th May 1955", 69, "Java", "Late"),
                    (3,"Guido Van", "Rossum", "Dutch", "31st Jan 1956", 68, "Python", "Alive"),
                   (4, "Dennis", "Ritche", "USA" , "12th Oct 2011", 70, "C", "Late"),
                   (5, "Michael Monty", "Widenius", "Finnish", "29th Nov 1962", 61, "MySQL", "Late"),
                   (6, "Michael", "Stonebraker", "American","11th March 1943", 81, "PostgreSQL", "Alive"), 
                   (7, "Linus Benedict", "Torvalds", "Finnish","28th Dec 1969", 54, "Linux", "Alive", )]
                  )

conn.commit()

<h3>Print The Table Contents Using fetchall()</h3>

In [65]:
cursor.execute("SELECT * FROM celebrities;")

for row in cursor.fetchall():
    print(row)

(1, 'Bjarne', 'Stroupstrup', 'Denmark', '30th Dec 1959', 73, 'C++', 'Late')
(2, 'James', 'Gostling', 'Canada', '19th May 1955', 69, 'Java', 'Late')
(3, 'Guido Van', 'Rossum', 'Dutch', '31st Jan 1956', 68, 'Python', 'Alive')
(4, 'Dennis', 'Ritche', 'USA', '12th Oct 2011', 70, 'C', 'Late')
(5, 'Michael Monty', 'Widenius', 'Finnish', '29th Nov 1962', 61, 'MySQL', 'Late')
(6, 'Michael', 'Stonebraker', 'American', '11th March 1943', 81, 'PostgreSQL', 'Alive')
(7, 'Linus Benedict', 'Torvalds', 'Finnish', '28th Dec 1969', 54, 'Linux', 'Alive')

<h3>Print The Table Contents Using featchmany(size)</h3>

In [66]:
cursor.execute("SELECT * FROM celebrities;")

for row in cursor.fetchmany(4):
    print(row)

# always write .nextset() to discard unread result 
# unread result is the other values apart from 4 rows read in this cell
cursor.nextset()

(1, 'Bjarne', 'Stroupstrup', 'Denmark', '30th Dec 1959', 73, 'C++', 'Late')
(2, 'James', 'Gostling', 'Canada', '19th May 1955', 69, 'Java', 'Late')
(3, 'Guido Van', 'Rossum', 'Dutch', '31st Jan 1956', 68, 'Python', 'Alive')
(4, 'Dennis', 'Ritche', 'USA', '12th Oct 2011', 70, 'C', 'Late')

In [67]:
cursor.close()
conn.close()